cp-badge{display:flex}cp-badge-image{display:block;width:100%}
.react-icon-button{align-items:center;background:none;border:none;color:inherit;display:flex;font-size:16px;height:30px;justify-content:center;width:30px}.react-icon-button:hover{background:none}.react-icon-button .hidden-text{border:0;clip:rect(1px,1px,1px,1px);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute!important;width:1px;word-wrap:normal!important}
.modal-dialog{background:#fff;border-radius:4px;display:block;font-family:Open Sans,Helvetica,sans-serif;margin:auto}.modal-dialog.center{margin:auto}.modal-dialog.small{width:24rem}.modal-dialog .react-modal-header{padding:15px 20px}.modal-dialog .react-modal-header .react-modal-title{color:#2a2a2c;font-size:1.5em;font-weight:600}.modal-dialog .react-modal-header .close,.modal-dialog .react-modal-header .close:hover{font-size:22px;opacity:1}.modal-dialog .react-modal-body{padding:20px}.modal-dialog .react-modal-footer{display:flex;justify-content:flex-end;padding:0 20px 20px}.modal-dialog .react-modal-footer.react-modal-footer-with-left-buttons{justify-content:space-between}.modal-dialog .react-modal-footer button{background-image:none;border:1px solid transparent;border-radius:2px;box-shadow:none;cursor:pointer;display:inline-block;font-family:inherit;font-size:14px;font-weight:700;line-height:1.42857143;margin-bottom:0;min-width:70px;padding:6px 12px;text-align:center;-webkit-user-select:none;-moz-user-select:none;user-select:none;vertical-align:middle;white-space:nowrap}.modal-dialog .react-modal-footer button.btn-danger{background:#d9534f;color:#fff}.modal-dialog .react-modal-footer button.btn-danger,.modal-dialog .react-modal-footer button.btn-danger:active,.modal-dialog .react-modal-footer button.btn-danger:active:hover,.modal-dialog .react-modal-footer button.btn-danger:focus,.modal-dialog .react-modal-footer button.btn-danger:focus:hover,.modal-dialog .react-modal-footer button.btn-danger:hover,.modal-dialog .react-modal-footer button.btn-danger:visited,.modal-dialog .react-modal-footer button.btn-danger:visited:hover{border-color:#d9534f}.modal-dialog .react-modal-footer button.btn-default{background:#f0f0f0;color:#616265}.modal-dialog .react-modal-footer button.btn-default,.modal-dialog .react-modal-footer button.btn-default:active,.modal-dialog .react-modal-footer button.btn-default:active:hover,.modal-dialog .react-modal-footer button.btn-default:focus,.modal-dialog .react-modal-footer button.btn-default:focus:hover,.modal-dialog .react-modal-footer button.btn-default:hover,.modal-dialog .react-modal-footer button.btn-default:visited,.modal-dialog .react-modal-footer button.btn-default:visited:hover{border-color:#ccc}.modal-dialog .react-modal-footer button.btn-primary{background:#f18a41;border-color:#f18a41;color:#fff;text-shadow:none}.modal-dialog .react-modal-footer button.btn-primary:hover{background:#f29654;border-color:#f18a41}.modal-dialog .react-modal-footer button.btn-primary:active,.modal-dialog .react-modal-footer button.btn-primary:active:hover,.modal-dialog .react-modal-footer button.btn-primary:focus,.modal-dialog .react-modal-footer button.btn-primary:focus:hover,.modal-dialog .react-modal-footer button.btn-primary:visited,.modal-dialog .react-modal-footer button.btn-primary:visited:hover{background:#f18a41;border-color:#f18a41}.modal-dialog .react-modal-footer button.btn-primary-teal{background:#61beb2;border-color:#61beb2;color:#fff;text-shadow:none}.modal-dialog .react-modal-footer button.btn-primary-teal:hover{background:#71c5ba;border-color:#61beb2}.modal-dialog .react-modal-footer button.btn-primary-teal:active,.modal-dialog .react-modal-footer button.btn-primary-teal:active:hover,.modal-dialog .react-modal-footer button.btn-primary-teal:focus,.modal-dialog .react-modal-footer button.btn-primary-teal:focus:hover,.modal-dialog .react-modal-footer button.btn-primary-teal:visited,.modal-dialog .react-modal-footer button.btn-primary-teal:visited:hover{background:#61beb2;border-color:#61beb2}.modal-dialog .react-modal-footer button.btn-primary-kelp{background:#0b808d;border-color:#0b808d;color:#fff;text-shadow:none}.modal-dialog .react-modal-footer button.btn-primary-kelp:hover{background:#238d98;border-color:#0b808d}.modal-dialog .react-modal-footer button.btn-primary-kelp:active,.modal-dialog .react-modal-footer button.btn-primary-kelp:active:hover,.modal-dialog .react-modal-footer button.btn-primary-kelp:focus,.modal-dialog .react-modal-footer button.btn-primary-kelp:focus:hover,.modal-dialog .react-modal-footer button.btn-primary-kelp:visited,.modal-dialog .react-modal-footer button.btn-primary-kelp:visited:hover{background:#0b808d;border-color:#0b808d}.modal-dialog .react-modal-footer .react-modal-footer-left button{margin-right:1em}.modal-dialog .react-modal-footer .react-modal-footer-right button{margin-left:1em}
.rc-tooltip.rc-tooltip-zoom-enter,
.rc-tooltip.rc-tooltip-zoom-leave {
  display: block;
}
.rc-tooltip-zoom-enter,
.rc-tooltip-zoom-appear {
  opacity: 0;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
          animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rc-tooltip-zoom-leave {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
          animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rc-tooltip-zoom-enter.rc-tooltip-zoom-enter-active,
.rc-tooltip-zoom-appear.rc-tooltip-zoom-appear-active {
  -webkit-animation-name: rcToolTipZoomIn;
          animation-name: rcToolTipZoomIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rc-tooltip-zoom-leave.rc-tooltip-zoom-leave-active {
  -webkit-animation-name: rcToolTipZoomOut;
          animation-name: rcToolTipZoomOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes rcToolTipZoomIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes rcToolTipZoomIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes rcToolTipZoomOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
}
@keyframes rcToolTipZoomOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
}
.rc-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.5;
  opacity: 0.9;
}
.rc-tooltip-hidden {
  display: none;
}
.rc-tooltip-placement-top,
.rc-tooltip-placement-topLeft,
.rc-tooltip-placement-topRight {
  padding: 5px 0 9px 0;
}
.rc-tooltip-placement-right,
.rc-tooltip-placement-rightTop,
.rc-tooltip-placement-rightBottom {
  padding: 0 5px 0 9px;
}
.rc-tooltip-placement-bottom,
.rc-tooltip-placement-bottomLeft,
.rc-tooltip-placement-bottomRight {
  padding: 9px 0 5px 0;
}
.rc-tooltip-placement-left,
.rc-tooltip-placement-leftTop,
.rc-tooltip-placement-leftBottom {
  padding: 0 9px 0 5px;
}
.rc-tooltip-inner {
  padding: 8px 10px;
  color: #fff;
  text-align: left;
  text-decoration: none;
  background-color: #373737;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
  min-height: 34px;
}
.rc-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.rc-tooltip-placement-top .rc-tooltip-arrow,
.rc-tooltip-placement-topLeft .rc-tooltip-arrow,
.rc-tooltip-placement-topRight .rc-tooltip-arrow {
  bottom: 4px;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #373737;
}
.rc-tooltip-placement-top .rc-tooltip-arrow {
  left: 50%;
}
.rc-tooltip-placement-topLeft .rc-tooltip-arrow {
  left: 15%;
}
.rc-tooltip-placement-topRight .rc-tooltip-arrow {
  right: 15%;
}
.rc-tooltip-placement-right .rc-tooltip-arrow,
.rc-tooltip-placement-rightTop .rc-tooltip-arrow,
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
  left: 4px;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #373737;
}
.rc-tooltip-placement-right .rc-tooltip-arrow {
  top: 50%;
}
.rc-tooltip-placement-rightTop .rc-tooltip-arrow {
  top: 15%;
  margin-top: 0;
}
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
  bottom: 15%;
}
.rc-tooltip-placement-left .rc-tooltip-arrow,
.rc-tooltip-placement-leftTop .rc-tooltip-arrow,
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
  right: 4px;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #373737;
}
.rc-tooltip-placement-left .rc-tooltip-arrow {
  top: 50%;
}
.rc-tooltip-placement-leftTop .rc-tooltip-arrow {
  top: 15%;
  margin-top: 0;
}
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
  bottom: 15%;
}
.rc-tooltip-placement-bottom .rc-tooltip-arrow,
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow,
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
  top: 4px;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #373737;
}
.rc-tooltip-placement-bottom .rc-tooltip-arrow {
  left: 50%;
}
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow {
  left: 15%;
}
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
  right: 15%;
}

.overlay--csqbr .rc-tooltip-inner{border-radius:3px}
#course-badges-mount{float:right}course-bar-badges{display:flex;justify-content:flex-end}course-bar-badges button{background:none;border:none;color:rgba(0,0,0,.9);cursor:pointer;display:inline-block;font-family:inherit;font-size:inherit;font-weight:600;margin:0;padding:0;text-decoration:underline;text-decoration:none;vertical-align:baseline}course-bar-badges button:disabled{color:rgba(0,0,0,.25);cursor:default}course-bar-badges cp-badge{display:inline-block;height:35px;margin-right:5px;opacity:.8;width:35px}course-bar-badges cp-badge:hover{opacity:1}.course-bar-badges-modal{width:560px}.course-bar-badges-modal cp-badge{display:inline-block;margin:.5em;width:78px}
